.title {
  font-weight: 400;
  font-size: 14px;
  color: #474747;
}
.range {
  margin-top: 24px;
}
.items {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.button.active {
  border: 1px solid #6a0bff;
  background-color: #ffffff;
}
